@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

.bg-green {
  background: #10adb9;
}

.text-green {
  color: #10adb9;
}

.shadow-right {
  box-shadow: 7px 7px 10px -7px gray;
}

.border-green {
  border-bottom-color: #10adb9;
}

.file-input {
  height: 100px;
  opacity: 0;
}

.drag-drop {
  height: 140px;
}

.task-tab li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #10adb9; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -0.5em; /* Also needed for space (tweak if needed) */
  font-size: 1.2rem;
}
